<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17348755579-n1nuq3qbth62als57p3j7j02ba7ogjd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17348755579-n1nuq3qbth62als57p3j7j02ba7ogjd9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17348755579-ncoqbcok7vketnkpppt71k19iooi3hcu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrV4KGAkT9slPwMPfhhthnrCnzQ3cc8wE</string>
	<key>GCM_SENDER_ID</key>
	<string>17348755579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stacionarApp</string>
	<key>PROJECT_ID</key>
	<string>jidlo-je-lek</string>
	<key>STORAGE_BUCKET</key>
	<string>jidlo-je-lek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17348755579:ios:9b0bf6cda7c12337f2a2de</string>
</dict>
</plist>